#diff-form {

  background: rgba(0, 0, 0, .05);
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 1em;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;

  label.from-to-label {
    width: 4rem;
    text-decoration: none;
    padding: 0.5rem;

    &#change-from {
      color: #b30000;
      background: #fadad7
    }

    &#change-to {
      background: #eaf2c2;
      color: #406619;
    }
  }

  #diff-style {
    >span {
      display: inline-block;
      padding: 0.3em;
      label {
        font-weight: normal;
      }
    }
  }
  * {
    vertical-align: middle;
  }

}

body.difference-page {
  section.content {
    padding-top: 40px;
  }
}

#diff-ui {

  background: var(--color-background);
  padding: 1rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  border-radius: 5px;

  @media (min-width: 767px) {
    min-width: 50%;
  }

  // The first tab 'text' diff
  #text {
    font-size: 11px;
  }

  pre {
    white-space: break-spaces;
  }


  h1 {
    display: inline;
    font-size: 100%;
  }

  #result {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
  }


  .source {
    position: absolute;
    right: 1%;
    top: .2em;
  }

  @-moz-document url-prefix() {
    body {
      height: 99%;
      /* Hide scroll bar in Firefox */
    }
  }

  td#diff-col div {
    text-align: justify;
    white-space: pre-wrap;
  }

  .ignored {
    background-color: #ccc;
    /*  border: #0d91fa 1px solid; */
    opacity: 0.7;
  }

  .triggered {
    background-color: #1b98f8;
  }

  /* ignored and triggered? make it obvious error */
  .ignored.triggered {
    background-color: #ff0000;
  }

  .tab-pane-inner#screenshot {
    text-align: center;

    img {
      max-width: 99%;
    }
  }


  // resets button margin to 0px
  .pure-form button.reset-margin {
    margin: 0px;
  }

  .diff-fieldset {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }


  ul#highlightSnippetActions {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0.5rem;
      gap: 0.3rem;

      button, a {
        white-space: nowrap;
      }
    }

    span {
      font-size: 0.8rem;
      color: var(--color-text-input-description);
    }
  }

  #cell-diff-jump-visualiser {
    display: flex;
    flex-direction: row;
    gap: 1px;
    background: var(--color-background);
    border-radius: 3px;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;

    > div {
      flex: 1;
      min-width: 1px;
      max-width: 10px;
      height: 10px;
      background: var(--color-background-button-cancel);
      opacity: 0.3;
      border-radius: 1px;
      transition: opacity 0.2s;
      position: relative;

      &.deletion {
        background: #b30000; // Red for deletions
        opacity: 1;
      }

      &.insertion {
        background: #406619; // Green for insertions
        opacity: 1;
      }

      &.note {
        background: #406619; // Orange for changed/notes
        opacity: 1;
      }

      &.mixed {
        background: linear-gradient(to right, #b30000 50%, #406619 50%); // Half red, half green
        opacity: 1;
      }

      &.current-position::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid var(--color-text);
      }

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
