# Git
.git/
.gitignore

# GitHub
.github/

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]

# Caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Distribution / packaging
build/
dist/
*.egg-info*

# Virtual environment
.env
.venv/
venv/

# IntelliJ IDEA
.idea/

# Visual Studio
.vscode/
