chardet==2.3.0
flask~= 1.0
pytest ~=6.2
pytest-flask ~=1.2
eventlet>=0.31.0
requests[socks] ~= 2.15
validators
timeago ~=1.0
inscriptis ~= 1.2
feedgen ~= 0.9
flask-login ~= 0.5
pytz
urllib3
wtforms ~= 2.3.3



# Notification library
apprise ~= 0.9

# Used for CSS filtering, replace with soupsieve and lxml for xpath
bs4

