{% extends 'base.html' %}
{% block content %}
    {% from '_helpers.html' import render_simple_field, render_field %}
    <div class="edit-form">
        <div class="box-wrap inner">
            <h4>Backups</h4>

            <p><strong>Local Time in Browser:</strong> <span class="local-time" data-utc="{{ utc_time }}"></span></p>
            <p>
                {{ render_field(form.application.form.timezone) }}
                <datalist id="timezones" style="display: none;">
                    {% for timezone in available_timezones %}
                        <option value="{{ timezone }}">{{ timezone }}</option>
                    {% endfor %}
                </datalist>

                <a class="pure-button pure-button-primary" href="{{ url_for('backups.request_backup') }}">Continue</a>
            </p>
        </div>
    </div>


{% endblock %}
