aiohttp
async-timeout
chardet==2.3.0
multidict
python-engineio
six==1.10.0
yarl
flask

eventlet
requests
validators

bleach==3.2.1
html5lib==0.9999999       # via bleach
timeago
html2text

# @notes
# - Dont install socketio, it interferes with flask_socketio
