
{% from '_helpers.jinja' import render_field %}

{% macro render_common_settings_form(form, current_base_url) %}

                        <div class="pure-control-group">
                            {{ render_field(form.notification_urls, rows=5, placeholder="Examples:
    Gitter - gitter://token/room
    Office365 - o365://TenantID:AccountEmail/ClientID/ClientSecret/TargetEmail
    AWS SNS - sns://AccessKeyID/AccessSecretKey/RegionName/+PhoneNo
    SMTPS - mailtos://user:pass@mail.domain.com?to=receivingAddress@example.com")
                            }}
                            <div class="pure-form-message-inline">
                              <ul>
                                <li>Use <a target=_new href="https://github.com/caronc/apprise">AppRise URLs</a> for notification to just about any service! <i><a target=_new href="https://github.com/dgtlmoon/changedetection.io/wiki/Notification-configuration-notes">Please read the notification services wiki here for important configuration notes</a></i>.</li>
                                <li><code>discord://</code> will silently fail if the total message length is more than 2000 chars.</li>
                                <li><code>tgram://</code> bots cant send messages to other bots, so you should specify chat ID of non-bot user.</li>
                                <li>Go here for <a href="{{url_for('notification_logs')}}">Notification debug logs</a></li>
                              </ul>
                            </div>
                        </div>
                        <div id="notification-customisation">
                            <div class="pure-control-group">
                                {{ render_field(form.notification_title, class="m-d") }}
                                <span class="pure-form-message-inline">Title for all notifications</span>
                            </div>
                            <div class="pure-control-group">
                                {{ render_field(form.notification_body , rows=5) }}
                                <span class="pure-form-message-inline">Body for all notifications</span>
                            </div>
                            <div class="pure-control-group">
                                {{ render_field(form.notification_format , rows=5) }}
                                <span class="pure-form-message-inline">Format for all notifications</span>
                            </div>
                            <div class="pure-controls">
                            <span class="pure-form-message-inline">
                                These tokens can be used in the notification body and title to customise the notification text.

                                <table class="pure-table" id="token-table">
                                    <thead>
                                    <tr>
                                        <th>Token</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><code>{base_url}</code></td>
                                        <td>The URL of the changedetection.io instance you are running.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{watch_url}</code></td>
                                        <td>The URL being watched.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{watch_uuid}</code></td>
                                        <td>The UUID of the watch.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{watch_title}</code></td>
                                        <td>The title of the watch.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{watch_tag}</code></td>
                                        <td>The tag of the watch.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{preview_url}</code></td>
                                        <td>The URL of the preview page generated by changedetection.io.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{diff}</code></td>
                                        <td>The diff output - differences only</td>
                                    </tr>
                                    <tr>
                                        <td><code>{diff_full}</code></td>
                                        <td>The diff output - full difference output</td>
                                    </tr>
                                    <tr>
                                        <td><code>{diff_url}</code></td>
                                        <td>The URL of the diff page generated by changedetection.io.</td>
                                    </tr>
                                    <tr>
                                        <td><code>{current_snapshot}</code></td>
                                        <td>The current snapshot value, useful when combined with JSON or CSS filters
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <br/>
                                URLs generated by changedetection.io (such as <code>{diff_url}</code>) require the <code>BASE_URL</code> environment variable set.<br/>
                                Your <code>BASE_URL</code> var is currently "{{current_base_url}}"
                            </span>
                            </div>
                        </div>
                        <div class="pure-control-group">
                            {{ render_field(form.trigger_check) }}
                        </div>
{% endmacro %}
