{% extends 'base.html' %}

{% block content %}

<div id="settings">
    <h1>Current</h1>
</div>

<div id="diff-ui">
    <table>
        <tbody>
        <tr>
            <td id="diff-col">
                <div class="ignored">Grey lines are ignored</div>
                <span id="result">{% for row in content %}{% if (loop.index in ignored_line_numbers)%}<span class="ignored">{% endif %}{{row}}{% if (loop.index in ignored_line_numbers)%}</span>{% endif %}{% endfor %}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}