{% extends 'base.html' %}

{% block content %}
<div class="edit-form">
    <div class="box-wrap inner">
    <form class="pure-form pure-form-stacked" action="{{url_for('scrub_page')}}" method="POST">
        <fieldset>
            <div class="pure-control-group">
                This will remove all version snapshots/data, but keep your list of URLs. <br/>
                You may like to use the <strong>BACKUP</strong> link first.<br/>
            </div>
            <br/>
            <div class="pure-control-group">
                <label for="confirmtext">Confirmation text</label>
                <input type="text" id="confirmtext" required="" name="confirmtext" value="" size="10"/>
                <span class="pure-form-message-inline">Type in the word <strong>scrub</strong> to confirm that you understand!</span>
            </div>
            <br/>
            <div class="pure-control-group">
                <label for="confirmtext">Optional: Limit deletion of snapshots to snapshots <i>newer</i> than date/time</label>
                <input type="datetime-local" id="limit_date" name="limit_date"  />
                <span class="pure-form-message-inline">dd/mm/yyyy hh:mm (24 hour format)</span>
            </div>
            <br/>
            <div class="pure-control-group">
                <button type="submit" class="pure-button pure-button-primary">Scrub!</button>
            </div>
            <br/>
            <div class="pure-control-group">
                <a href="{{url_for('index')}}" class="pure-button button-small button-cancel">Cancel</a>
            </div>
        </fieldset>
    </form>
    </div>
</div>

{% endblock %}
