ul#requests-extra_proxies {
  list-style: none;
  /* tidy up the table to look more "inline" */
  li {
    > label {
      display: none;
    }

  }

  /* each proxy entry is a `table` */
  table {
    tr {
      display: inline;
    }
  }
}

#request {
  /* Auto proxy scan/checker */
  label[for=proxy] {
    display: inline-block;
  }
}

body.proxy-check-active {
  #request {
    .proxy-status {
      width: 2em;
    }

    .proxy-check-details {
      font-size: 80%;
      color: #555;
      display: block;
      padding-left: 4em;
    }

    .proxy-timing {
      font-size: 80%;
      padding-left: 1rem;
      color: var(--color-link);
    }
  }
}