.pure-menu-link {
  padding: 0.5rem 1em;
  line-height: 1.2rem;
}
#menu-mute, #menu-pause {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  img {
    height: 1.2rem;
  }
}

.pure-menu-item {
  svg {
    height: 1.2rem;
  }
  * {
    vertical-align: middle;
  }
  .github-link {
    height: 1.8rem;
    display: block;
    svg {
      height: 100%;
    }
  }
  .bi-heart {
    &:hover {
      cursor: pointer;
    }
  }

  // Active menu item styling
  &.active {
    .pure-menu-link {
      background-color: var(--color-background-menu-link-hover);
      color: var(--color-text-menu-link-hover);
    }
  }
}

#cdio-logo {
  padding-left: 0.5em;
}

#inline-menu-extras-group {
  >* {
    display: inline-block;
  }
}