
#selector-wrapper {
  height: 100%;
  text-align: center;
  
  max-height: 70vh;
  overflow-y: scroll;
  position: relative;

  //width: 100%;
  >img {
    position: absolute;
    z-index: 4;
    max-width: 100%;
  }

  >canvas {
    position: relative;
    z-index: 5;
    max-width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}

#selector-current-xpath {
  font-size: 80%;
}