
/* table related */
.watch-table {
  width: 100%;
  font-size: 80%;

  tr {
    &.unviewed {
      font-weight: bold;
    }
    &.error {
      color: var(--color-watch-table-error);
    }
    color: var(--color-watch-table-row-text);
  }


  td {
    white-space: nowrap;
    &.title-col {
      word-break: break-all;
      white-space: normal;
    }
  }


  th {
    white-space: nowrap;

    a {
      font-weight: normal;

      &.active {
        font-weight: bolder;
      }

      &.inactive {
        .arrow {
          display: none;
        }
      }
    }
  }

  .title-col a[target="_blank"]::after,
  .current-diff-url::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
  }


  /* Row with 'checking-now' */
  tr.checking-now {
    td.last-checked {
      .spinner-wrapper {
        display: inline-block !important;
      }
      .innertext {
        display: none !important;
      }
    }
  }
  tr.queued {
    a.recheck {
      display: none !important;
    }
    a.already-in-queue-button {
      display: inline-block !important;
    }
  }
  tr.paused {
    a.pause-toggle {
      &.state-on {
        display: inline !important;
      }
      &.state-off {
        display: none !important;
      }
    }
  }
  tr.notification_muted {
    a.mute-toggle {
      &.state-on {
        display: inline !important;
      }
      &.state-off {
        display: none !important;
      }
    }
  }
}

