<ul id="highlightSnippetActions">
    <li>
        <button class="pure-button pure-button-primary" onclick="diffToJpeg()" title="Share diff as image">Share as Image</button><br>
        <span>Creates an image that you can share.</span>
    </li>
    <li>
        <a class="pure-button pure-button-primary" data-mode="exact" href="javascript:void(0);">Ignore exact text</a><br>
        <span>Ignore any change on any line which contains the selected text.</span>
    </li>
    <li>
        <a class="pure-button pure-button-primary" data-mode="digit-regex" href="javascript:void(0);" >Ignore text including number changes</a><br>
        <!-- ??? and the number or number wildcard -->
        <span>Ignore any change on any line which contains the selected text.</span>
    </li>
</ul>

<!--             if (/\d/.test(window.getSelection().toString())) { -->

