{% from '_helpers.html' import render_field, render_checkbox_field, render_button %}
        <script>
            $(document).ready(function () {
                toggleOpacity('#processor_config_restock_diff-follow_price_changes', '.price-change-minmax', true);
            });
        </script>

        <fieldset id="restock-fieldset-price-group">
            <div class="pure-control-group">
                <fieldset class="pure-group inline-radio">
                    {{ render_field(form.processor_config_restock_diff.in_stock_processing) }}
                </fieldset>
                <fieldset class="pure-group">
                    {{ render_checkbox_field(form.processor_config_restock_diff.follow_price_changes) }}
                    <span class="pure-form-message-inline">{{ _('Changes in price should trigger a notification') }}</span>
                </fieldset>
                <fieldset class="pure-group price-change-minmax">
                    {{ render_field(form.processor_config_restock_diff.price_change_min, placeholder=watch.get('restock', {}).get('price')) }}
                    <span class="pure-form-message-inline">{{ _('Minimum amount, Trigger a change/notification when the price drops <i>below</i> this value.') | safe }}</span>
                </fieldset>
                <fieldset class="pure-group price-change-minmax">
                    {{ render_field(form.processor_config_restock_diff.price_change_max, placeholder=watch.get('restock', {}).get('price')) }}
                    <span class="pure-form-message-inline">{{ _('Maximum amount, Trigger a change/notification when the price rises <i>above</i> this value.') | safe }}</span>
                </fieldset>
                <fieldset class="pure-group price-change-minmax">
                    {{ render_field(form.processor_config_restock_diff.price_change_threshold_percent) }}
                    <span class="pure-form-message-inline">{{ _('Price must change more than this % since the previous check to trigger a change.') }}</span><br>
                    <span class="pure-form-message-inline">{{ _('For example, if the previous check saw the product at $1,000 USD, <strong>2%</strong> would mean it has to change more than $20 since then.') | safe }}</span><br>
                </fieldset>
            </div>
        </fieldset>