{% extends 'base.html' %}
{% block content %}
{% from '_helpers.jinja' import render_field %}
<div class="edit-form monospaced-textarea">
    <form class="pure-form pure-form-stacked" action="/edit/{{uuid}}" method="POST">
        <fieldset>
            <div class="pure-control-group">
                {{ render_field(form.url, placeholder="https://...", size=30, required=true) }}
            </div>
            <div class="pure-control-group">
                {{ render_field(form.tag, size=10) }}
            </div>
            <div class="pure-control-group">
                {{ render_field(form.minutes_between_check, size=5) }}
            </div>
            <div class="pure-control-group">
                {{ render_field(form.css_filter, size=25, placeholder=".class-name or #some-id, or other CSS selector rule.") }}
                <span class="pure-form-message-inline">Limit text to this CSS rule, only text matching this CSS rule is included.<br/>
                    Please be sure that you thoroughly understand how to write CSS selector rules before filing an issue on GitHub!<br/>
                    Go <a href="https://github.com/dgtlmoon/changedetection.io/wiki/CSS-Selector-help">here for more CSS selector help</a>
                </span>
            </div>
            <!-- @todo: move to tabs --->
            <fieldset class="pure-group">
                {{ render_field(form.ignore_text, rows=5) }}
                <span class="pure-form-message-inline">Each line will be processed separately as an ignore rule.</span>
            </fieldset>

            <fieldset class="pure-group">
                {{ render_field(form.headers, rows=5, placeholder="Example
Cookie: foobar
User-Agent: wonderbra 1.0") }}
            </fieldset>

            <div class="pure-control-group">
                {{ render_field(form.notification_urls, rows=5, placeholder="Gitter - gitter://token/room
Office365 - o365://TenantID:AccountEmail/ClientID/ClientSecret/TargetEmail
AWS SNS - sns://AccessKeyID/AccessSecretKey/RegionName/+PhoneNo
SMTPS - mailtos://user:pass@mail.domain.com?to=receivingAddress@example.com
") }}
                <span class="pure-form-message-inline">Use <a target=_new href="https://github.com/caronc/apprise">AppRise URLs</a> for notification to just about any service!</span>
            </div>

            <div class="pure-controls">
                {{ render_field(form.trigger_check, rows=5) }}
            </div>
            <div class="pure-control-group">
                <button type="submit" class="pure-button pure-button-primary">Save</button>
            </div>
            <br/>
            <div class="pure-control-group">
                <a href="/" class="pure-button button-small button-cancel">Cancel</a>
                <a href="/api/delete?uuid={{uuid}}"
                   class="pure-button button-small button-error ">Delete</a>
            </div>
        </fieldset>
    </form>


</div>

{% endblock %}
