{% extends 'base.html' %}

{% block content %}
<div class="edit-form">


    <form class="pure-form pure-form-aligned" action="/import" method="POST">

        <fieldset class="pure-group">
            <legend>One URL per line, URLs that do not pass validation will stay in the textarea.</legend>

            <textarea name="urls" class="pure-input-1-2" placeholder="https://" cols="150" style="width: 100%;font-family:monospace;" rows="25">{{ remaining }}</textarea>
        </fieldset>
        <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Import</button>

    </form>

</div>

{% endblock %}

