{% extends 'base.html' %}

{% block content %}
<div class="edit-form">


    <form class="pure-form pure-form-stacked" action="/settings" method="POST">
        <fieldset>
            <div class="pure-control-group">
                <label for="minutes">Maximum time in minutes until recheck.</label>
                <input type="text" id="minutes" required="" name="minutes" value="{{minutes}}"
                       size="5"/>
                <span class="pure-form-message-inline">This is a required field.</span>
            </div>


            <br/>
            <div class="pure-control-group">
                <button type="submit" class="pure-button pure-button-primary">Save</button>
            </div>
            <br/>

            <div class="pure-control-group">
                <a href="/" class="pure-button button-small button-cancel">Back</a>
                <a href="/scrub" class="pure-button button-small button-cancel">Delete history version data</a>
            </div>


        </fieldset>
    </form>


</div>

{% endblock %}
