
#diff-ui {
    background: var(--color-background);
    padding: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 5px
}

#diff-ui #text {
    font-size: 11px
}

#diff-ui table {
    table-layout: fixed;
    width: 100%
}

#diff-ui td {
    padding: 3px 4px;
    border: 1px solid rgba(0, 0, 0, 0);
    vertical-align: top;
    font: 1em monospace;
    text-align: left;
    overflow: clip
}

#diff-ui pre {
    white-space: pre-wrap
}

h1 {
    display: inline;
    font-size: 100%
}

del {
    text-decoration: none;
    color: #b30000;
    background: #fadad7
}

ins {
    background: #eaf2c2;
    color: #406619;
    text-decoration: none
}

#result {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word
}

#settings {
    background: rgba(0, 0, 0, .05);
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
    color: #fff;
    font-size: 80%
}

#settings label {
    margin-left: 1em;
    display: inline-block;
    font-weight: normal
}

#settings del {
    padding: .5em
}

#settings ins {
    padding: .5em
}

#settings option:checked {
    font-weight: bold
}

#settings [type=radio], #settings [type=checkbox] {
    vertical-align: middle
}

.source {
    position: absolute;
    right: 1%;
    top: .2em
}

@-moz-document url-prefix() {
    body {
        height: 99%
    }
}

td#diff-col div {
    text-align: justify;
    white-space: pre-wrap
}

.ignored {
    background-color: #ccc;
    opacity: .7
}

.triggered {
    background-color: #1b98f8
}

.ignored.triggered {
    background-color: red
}

.tab-pane-inner#screenshot {
    text-align: center
}

.tab-pane-inner#screenshot img {
    max-width: 99%
}

#highlightSnippet {
    background: var(--color-background);
    padding: 1em;
    border-radius: 5px;
    background: var(--color-background);
    box-shadow: 1px 1px 4px var(--color-shadow-jump)
}

.pure-form button.reset-margin {
    margin: 0px
}

.diff-fieldset {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap
}
