/* Error: Expected '.
 *    ,
 * 12 |     overflow-wrap: break-word;'
 *    |                                ^
 *    '
 *   scss/parts/_llm-prompt.scss 12:32  @use
 *   scss/parts/_edit.scss 1:1          @use
 *   scss/styles.scss 18:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected '.\a    \2577 \a 12 \2502      overflow-wrap: break-word;'\a    \2502                                 ^\a    \2575 \a   scss/parts/_llm-prompt.scss 12:32  @use\a   scss/parts/_edit.scss 1:1          @use\a   scss/styles.scss 18:1              root stylesheet";
}
